<!DOCTYPE html>
<html class="govuk-template " lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> Acronyms Buster </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="Acronyms%20Buster_files/unbranded.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HL421ZZBE4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HL421ZZBE4');
    </script>
    <!--Open Graph Settings-->
    <meta name="title" property="og:title" content="Civil Service Acronym Buster - Like Ghost Busters ... except for CS Acronyms!">
    <meta name="description" property="og:description" content="This site attempts to document all the acronyms used in order to improve everyone’s understanding in the workplace.">
  </head>

  <body class="govuk-template__body  js-enabled" data-new-gr-c-s-check-loaded="8.876.0" data-gr-ext-installed=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.14'><\/script>".replace("HOST", location.hostname));
//]]></script><script async="" src="Acronyms%20Buster_files/browser-sync-client.js"></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>






      <div class="govuk-width-container ">

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Civil Service Acronym Buster
          <span class="govuk-caption-m">Like Ghost Busters ... except for CS Acronyms!</span>
        </h1>

        <p>The Civil Service as an organisation, runs on Acronyms. Anyone
  new to a Department or area of work might think that their colleagues
  are speaking a different language.</p>
        <p>This site attempts to document all the acronyms used in order to improve everyone’s understanding in the workplace.</p>

        <div class="govuk-inset-text">
    Acronym not here? Contribute to the list, someone else might know the answer or meaning.
  </div>

  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Update - 12/10/2021
      </h2>
    </div>
  </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text">
    Last Updated : {{ {{ date.strftime('%d-%m-%Y') }} }}
  </div>


        <div>
          <h2 class="govuk-heading-s">Want to contribute to this site?</h2>
              <p class="govuk-body">You can :</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>help populate the <a class="govuk-link" target="_blank" href="https://docs.google.com/spreadsheets/d/1S_plW5LSGM8JT4lvjLMw40nFeGgN3xOWEefVA8Y4xcc/edit?usp=sharing">list </a></li>
                  <li>collaborate on the development of this page with <a class="govuk-link" href="mailto:lw7yw8aol@relay.firefox.com">Sam</a>, a very amateur dev!</li>
                </ul>
        </div>

        <div class="govuk-form-group">

          <input class="govuk-input govuk-input--width-" id="searchBox" name="width-5" type="text" onkeyup="searchClick()" placeholder="Search">

        </div>

      </div>

      </div>

      <div class="govuk-grid-row">
      <table class="govuk-table" style="table-layout: fixed; width: 100%;">
        <caption class="govuk-table__caption govuk-table__caption--m">The List</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col"  style="max-width: 12.5%;" class="govuk-table__header">Acronym</th>
            <th scope="col" class="govuk-table__header">Meaning</th>
            <th scope="col" class="govuk-table__header">Definition</th>
            <th scope="col" class="govuk-table__header">Department</th>
            <th scope="col" class="govuk-table__header">Team/Area</th>
          </tr>
        </thead>
        <colgroup>
          <col style="max-width: 12.5%;">
          <col style="max-width: 25%;">
          <col style="max-width: 37.5%;">
          <col style="max-width: 12.5%;">
          <col style="max-width: 12.5%;">

        </colgroup>


        <tbody class="govuk-table__body">
          {% for acronym in acronyms -%}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ acronym["Acronym"] }}</th>
            <td class="govuk-table__cell">{{ acronym["Definition"] }}</td>
            <td class="govuk-table__cell">
              <div style="max-height: 5em; overflow-y: auto">
              {{ acronym["Meaning"]|truncate(500, True) }}
              </div>
            </td>
            <td class="govuk-table__cell">{{ acronym["Department"] }}</td>
            <td class="govuk-table__cell">{{ acronym["Team/Area"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
    <p class="govuk-body">Acronym not here? Help populate the <a class="govuk-link" target="_blank" href="https://docs.google.com/spreadsheets/d/1S_plW5LSGM8JT4lvjLMw40nFeGgN3xOWEefVA8Y4xcc/edit?usp=sharing">list</a>, Someone else might know the meaning!</p>
    </div>

</div>

  </main>

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Social links</h2>

          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              Built by Samuel Hoskin. Find me on:
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="https://github.com/Samuel-Hoskin/CS-Acronyms">
                GitHub
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="https://www.linkedin.com/in/samuel-hoskin/">
                LinkedIn
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="https://twitter.com/Samuel_Hoskin">
                Twitter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>








    <!-- Javascript -->
  <script src="Acronyms%20Buster_files/jquery-1.js"></script>


  <script src="Acronyms%20Buster_files/all.js"></script>


  <script src="Acronyms%20Buster_files/application.js"></script>


  <script src="Acronyms%20Buster_files/auto-store-data.js"></script>

</body></html>
